@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: #CABCCD;
    --nav: red;
    --text: blue;
    --texthover: pink;
    --bg-secodary: green;
    --title: white; 
  }
  .dark {
        --bg: #CABCCD;
    --nav: red;
    --text: blue;
    --texthover: pink;
    --bg-secodary: green;
    --title: white; 
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
