@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg-start: #C5B6C9;
    --bg-end: #E0CFD7;
    --header--bg-start: #fae4fc;
    --header--bg-end: #F3E5F5;
    --hover-text--start: #ff91d5;
    --hover-text--end: #ed9eff;
    --nav: red;
    --menu: #F9EAF6;
    --text: blue;
    --texthover: pink;
    --bg-secodary: green;
    --title: white; 
  }
  
  .gradient-text {
    background: linear-gradient(90deg, var(--hover-text--start), var(--hover-text--end));
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent; 
  }


  .dark {
    --bg-start: #9E99B9;
    --bg-end: #B0ACC4;
    --header--bg-start : #dad5ddd0;
    --header--bg-end: #ede1f3d0;
    --bg: #CABCCD;
    --nav: red;
    --menu: #CDC8E5;
    --text: blue;
    --texthover: pink;
    --bg-secodary: green;
    --title: white; 
  }
}

@font-face {
  font-family: 'Rostex';
  src: url('./assets/fonts/Rostex-ObliqueOutline.woff2') format('woff2'),
       url('./assets/fonts/Rostex-ObliqueOutline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
